.buildpath
.project
.settings
coverage

# {{cookiecutter.app_type.upper()}} local settings
/www/sites/default/local.settings.php
/www/sites/default/settings.php

# Public files upload directory
/var/public
!/var/private/.empty
# Private files & othe rvar stuff
/var/private
/var/nginxwebroot
/var/tmp
/var/cache
!/var/private/.empty
!/var/cache/.empty
!/var/tmp/.empty
!/var/nginxwebroot/.empty
!/vendor/.empty

# Stuff in web root
www/web.config
www/.pot
# Ignore sourcemaps
/www/profiles/*/themes/*/dist/maps
# Uncomment following line if modifying Drupal's .htaccess ?
# but really, you should not, either work on Nginx config files or real Apache config files
#!/www/.htaccess

/.env
/vendor/

.phpunit
/phpunit.xml

node_modules
npm-debug.log
yarn-error.log

