<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
  <phpunit
    bootstrap="./tests/phpunit.bootstrap.php"
    backupGlobals="false"
    colors="true"
  >
  <php>
    <!-- <ini name="error_reporting" value="-1" /> -->
    <env name="DRUPAL_ENV_NAME" value="test" />
    <env name="SHELL_VERBOSITY" value="0" />
    <env name="TEST_FULL_MATRIX" value="0" />
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="LegacyFunctionnal">
        <directory>tests/Functionnal</directory>
    </testsuite>
    <testsuite name="LegacyUnit">
        <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>tests</directory>
            <directory>www/profiles/{{cookiecutter.profile_name}}</directory>
            <exclude>
                <directory>vendor</directory>
                <!--
                <directory>src/Domain/Datasource</directory>
                <directory>src/Domain/Enum</directory>
                <directory>src/Hydrator</directory>
                <directory>src/Migrations</directory>
                <file>src/.bootstrap.php</file>
                <file>src/Kernel.php</file>
                -->
            </exclude>
        </whitelist>
    </filter>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
  </listeners>
</phpunit>
