# docker variables
PROJECT_PACKAGE={{cookiecutter.drupal_project_name}}
PROJECT_DIR=/code/app/

# parsed/replaced in CI via env-subst
DRUPAL_NAME={{cookiecutter.drupal_project_name}}

# Used in INSTALL ---------------
PROFILE_NAME={{ cookiecutter.lname }}
SITE_NAME={{ cookiecutter.name }}
SITE_MAIL=contact@{{ cookiecutter.mail_domain }}
ADMIN_MAIL=sysadmin+{{ cookiecutter.lname }}@{{ cookiecutter.mail_domain }}
ADMIN_NAME=admin
# ADMIN_PASS is set via docker-compose-dev.yml or via gitlab-ci secrets
# or any other documented way before running install script
SITE_DEFAULT_COUNTRY=FR
DATE_DEFAULT_TIMEZONE=Europe/Paris
UPDATE_STATUS_MODULE=0
DRUPAL_URI=http://{{cookiecutter.local_domain}}:{{cookiecutter.local_http_port}}
DRUSH_EXTRA_ARGS= --uri=http://{{cookiecutter.local_domain}}:{{cookiecutter.local_http_port}}

# Key settings ------------------
DATABASE_PREFIX=
{% if 'post' in cookiecutter.db_mode %}
POSTGRES_STARTUP_TIMEOUT=45s
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password
PGPASSWORD=password
DATABASE_DRIVER=pgsql
DATABASE_DB=db
DATABASE_USER=user
DATABASE_PASSWD=password
DATABASE_HOST=db
DATABASE_PORT=5432
{% elif 'mysql' in cookiecutter.db_mode %}
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=password
DATABASE_DRIVER=mysql
DATABASE_DB=db
DATABASE_USER=user
DATABASE_PASSWD=password
DATABASE_HOST=db
DATABASE_PORT=3306
{% else %}
DB_HOST=db
DB_PORT=
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DATABASE_DRIVER=sqlite
DATABASE_DB=sites/default/files/.ht5.sqlite
DATABASE_USER=
DATABASE_PASSWD=
DATABASE_HOST=
DATABASE_PORT=
{% endif %}

COOKIE_DOMAIN={{cookiecutter.local_domain}}
ABSOLUTE_URL_SCHEME=http
ABSOLUTE_URL_DOMAIN={{cookiecutter.local_domain}}
ABSOLUTE_URL_DOMAIN_ESCAPE={{cookiecutter.local_domain.replace('.', '\.')}}
ABSOLUTE_URL_PORT={{cookiecutter.local_http_port}}

PHP_MAX_WORKERS=10
PHP_MAX_SPARE_WORKERS=5
PHP_MIN_SPARE_WORKERS=3

# VARNISH
VARNISH__HTTP_PROTECT_USER=
VARNISH__HTTP_PROTECT_PASSWORD=
VARNISH_MEMORY_SIZE=256MB
VARNISH_HIDE_X_CACHE_TAGS=
VARNISH_BACKENDS=nginx
#VARNISH_NO_CACHE_COOKIE=NO_CACHE
#VARNISH_NO_CACHE_URL=/foo/bar/
VARNISH_TTL_STATIC=3h
VARNISH_TTL_STATIC_BROWSER=86400

#
#
# This need to be changed in production
DRUPAL_ENV_NAME=dev
APP_SECRET=11111111111111111111111111111111
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher
# end: docker variables
# vim: set ft=sh:
