# docker variables
PROJECT_PACKAGE={{cookiecutter.symfony_project_name}}
PROJECT_DIR=/code/app/

# parsed/replaced in CI via env-subst
SYMFONY_NAME={{cookiecutter.symfony_project_name}}

{% if 'post' in cookiecutter.db_mode %}
POSTGRES_STARTUP_TIMEOUT=45s
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password
DATABASE_URL=pgsql://user:password@db:5432/db
{% elif 'mysql' in cookiecutter.db_mode %}
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=password
DATABASE_URL=mysql://user:password@db:3306/db
{% else %}
DB_HOST=db
DB_PORT=
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
{% endif %}

COOKIE_DOMAIN={{cookiecutter.local_domain}}
ABSOLUTE_URL_SCHEME=http
ABSOLUTE_URL_DOMAIN={{cookiecutter.local_domain}}
ABSOLUTE_URL_PORT={{cookiecutter.local_http_port}}

PHP_MAX_WORKERS=10
PHP_MAX_SPARE_WORKERS=5
PHP_MIN_SPARE_WORKERS=3

#
#
# This need to be changed in production
APP_ENV=dev
APP_SECRET=11111111111111111111111111111111
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher
# end: docker variables
# vim: set ft=sh: